 <div class="well divfix" style="border-top:10px solid #0066FF">
      	<%= image_tag("facebook_2_1.jpg", :class=>"pull-left" , :style=>"display: inline-block; height:50px")%>

      	<form class="form-inline pull-right">
 			<input type="text" class="input-small" placeholder="Username">
  			<input type="password" class="input-small" placeholder="Password">
  			<button type="submit" class="btn">Sign in</button>
		</form>

      </div>

      <div class="well well-large divfix" style="border-top:10px solid #0099FF">
      	 <%= image_tag("flat-27716_640.png", :class=>"img-polaroid pull-left", :style=>"margin-right:30px; width:100px; display: inline-block;")%>
        <div>
        	<h4>
            Chatchanon Chinvetkitvanit 

            <button class="btn btn-mini pull-right" type="button" id="profile-edit-btn">Edit</button>
          </h4>
          <div id="profile-show">
              <%= render :partial => 'layouts/profile', :locals => { :profile => @profile} %>
          </div>

        </div>
      </div>

      <div class = "well divfix" style="border-top:10px solid #00CCFF">
              <%= render 'posts/form' %>
      		
      		<div class="pull-right">
            <ul class="nav nav-pills">
              <li>
              <div class="btn " href="#" style="margin-left:10px;"><i class="icon-star"></i> Like
              </div>
              </li>
              <li>
              <div class="input-prepend">
                <form style="margin-left:10px" class="form-small">
                  <span class="add-on"><i class="icon-envelope"></i></span>
                  <input class="span2 input-large" id="inputIcon" type="text" placeholder="Comment">
                </form>                           
              </div>
              </li>
            </ul>
              Note:Press ENTER for POST and SHIFT+ENTER for NEW LINE 
      		</div>
      </div>


      <div id="status-show">
      <%= render :partial => 'layouts/post', :locals => {:posts=>@posts } %>
      </div>